@{

    ViewData["Title"] = "Cadastro";
    var id = ViewData["id"];
}


<div class="text-center">
    <h1 class="display-4">O @id jรก consta no nosso cadastro, tente com outro Id!</h1>

    <h4><a class="asd" asp-area="" asp-controller="Computer" asp-action="Cadastrar"><strong>Clique Aqui</strong> para cadastrar um computador com outro Id!</a></h4>
</div>