
    .container[b-atupian8jy] {
        background: #fff;
        border-radius: 6px;
        padding: 6px 40px 23px 40px;
        width: fit-content;
    }
    .container .con[b-atupian8jy] {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .container .con .left-side[b-atupian8jy] {
        width: 0%;
        height: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        position: relative;
    }
    .input-box select[b-atupian8jy]{
        border: none;
        background: #F0F1F8;
        border-radius: 6px;
    }
    .con[b-atupian8jy]::before {
        content: '';
        position: absolute;
        height: 0%;
        width: 2px;
        right: -15px;
        top: 50%;
        transform: translateY(-50%);
        background: #98857E;
    }
    .con .details[b-atupian8jy] {
        margin: 14px;
        text-align: center;
    }
    .con .details i[b-atupian8jy] {
        font-size: 30px;
        color: #90562E;
        margin-bottom: 10px;
    }
    .con .details .topic[b-atupian8jy] {
        font-size: 18px;
        font-weight: 500;
    }
    .con .left-side .details .text-one[b-atupian8jy],
    .con .left-side .details .text-two[b-atupian8jy] {
        font-size: 14px;
        color: #afafb6;
    }
    .container .con .right-side[b-atupian8jy] {
        width: 75%;
        margin-left: 50px;
    }
    .con .right-side .topic-text[b-atupian8jy] {
        font-size: 23px;
        font-weight: 600;
        color: #90562E;
    }
    .right-side .input-box[b-atupian8jy] {
        height: 40px;
        width: 100%;
        margin: 12px 0;
    }
    .right-side .input-box input[b-atupian8jy],
    .right-side .input-box textarea[b-atupian8jy] {
        height: 80%;
        width: 100%;
        border: none;
        outline: none;
        font-size: 16px;
        background: #F0F1F8;
        border-radius: 6px;
        padding: 0 15px;
        resize: none;
    }
    .right-side .message-box[b-atupian8jy] {
        min-height: 110px;
    }
    .right-side .input-box textarea[b-atupian8jy] {
        padding-top: 6px;
    }
    .right-side[b-atupian8jy] {
        display: inline-block;
        margin-top: 12px;
    }
    .bt[b-atupian8jy]{
        background-color: #026773;
        color: #fff;
        border:none;
        border-radius: 6px;cursor: pointer;
        transition: all 0.3s ease;
    }
    .bt:hover[b-atupian8jy]{
        background-color: #012E40;
        
    }
    .fot[b-atupian8jy]{
        margin-left:10px;
        background-color: #fff;
    }
