@{

    ViewData["Title"] = "Atualização";
    var id = ViewData["id"];
}


<div class="text-center">
    <h1 class="display-4">O @id não consta no nosso cadastro, tente com outro Id!</h1>

    <h4><a class="asd" asp-area="" asp-controller="Computer" asp-action="Atualizar"><strong>Clique Aqui</strong> e busque outro id</a></h4>
</div>